name: validate

on:

  push:
    branches: [ main ]
    
  pull_request:
    branches: [ main ]
    
  workflow_dispatch:

jobs:

  build:
  
    runs-on: ubuntu-latest
    container: slacgismo/gridlabd:latest
    environment: validate
    
    steps:
    
      - uses: actions/checkout@v2
      
      - name: validate
        run: |
          mkdir -p $HOME/.nsrdb
          echo '{"'${{ secrets.NSRDB_SIGNUP }}'": "'${{ secrets.NSRDB_APIKEY }}'"}' > $HOME/.nsrdb/credentials.json
          bash autotest.sh
        
      - name: artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: autotest-errors
          path: autotest-errors.tar.gz
